*{
	margin: 0;
}
body{
	margin-bottom: 3em;
}

.form-outside{
	background-color: rgba(0, 0, 0, .3);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 10;
	display:none;
	transition: display 1.2s ease-in-out;
}

.card{
	height:18em;
	transform: translateY(30%);
}
#CNew > .card, #CView > .card{
	height:16em;
}
#CNew .card-body, #CView .card-body{
	position:relative;
	margin-top:3.5em;
	height:1em;
}	
.clo{
	color:lightgray;
	font-weight: bold;
	position:absolute;
	right:10%;
	top:5%;
	cursor: pointer;
	z-index: 30;
	font-size:medium;
	transition: all .3s ease-in;
}
.clo:hover{
	color:white;
	/*transform: rotateZ(180deg);*/
	font-size: large;
}
.card-header{
	position:absolute;
	top:0;
	left:0;
	right:0;
}
.card-body{
	margin-top:2.6em;
}
.card-footer{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
}

.footer{
	position:fixed; 
	bottom:0;
	left:0;
	right:0;
	padding:.4em;
	box-shadow: .1em 0 .2em black;
	background:rgba(20, 50, 101, .3);
}